@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgba(180, 175, 175, 0.096);
}

.mainWrapper {
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.mainWrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 50px;
}

.mainWrapper .mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  font-family: "IBM Plex Sans", sans-serif;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.mainWrapper .mainTitle span {
  margin: auto;
}

.mainWrapper .mainTitle h1 {
  -webkit-margin-before: 0.27em;
          margin-block-start: 0.27em;
  -webkit-margin-after: 0.1em;
          margin-block-end: 0.1em;
}

.mainWrapper .homework {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px 10px 15px 10px;
  margin: 10px 0 0 0;
  background-color: rgba(180, 175, 175, 0.096);
  -webkit-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(170, 170, 170, 0.5);
          box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(170, 170, 170, 0.5);
}

.mainWrapper .homework .red {
  background-color: rgba(255, 122, 122, 0.329);
}

.mainWrapper .homework h2,
.mainWrapper .homework h3 {
  padding-left: 30px;
  margin: 5px;
}

.mainWrapper .homework p {
  padding-left: 30px;
  margin: 5px;
}

.mainWrapper .homework button:hover {
  background-color: rgba(180, 175, 175, 0.87);
}

.mainWrapper .homework button {
  margin: 0 50px;
  background-color: rgba(180, 175, 175, 0.096);
  -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2), -3px -3px 2px 0 rgba(252, 252, 252, 0.822);
          box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2), -3px -3px 2px 0 rgba(252, 252, 252, 0.822);
}

.mainWrapper .homework img {
  margin-left: auto;
  width: 15%;
}

.mainWrapper .homework ol {
  padding-left: 0;
}

.error {
  -webkit-box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(170, 170, 170, 0.5);
          box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(170, 170, 170, 0.5);
  margin: 10px 50px 10px auto;
  font-weight: bold;
  font-size: 14pt;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .mainWrapper {
    width: 95%;
  }
  .mainWrapper .homework img {
    width: 35%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 930px) {
  .mainWrapper {
    width: 80%;
  }
  .mainWrapper .homework img {
    width: 20%;
  }
}
/*# sourceMappingURL=main.css.map */